*{
  margin: 0;
  padding: 0;

}

.testimonials-container{
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url('logos/family-house.webp'); /* Cambia 'ruta_de_tu_imagen.jpg' por la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  overflow: hidden;
}

.slider{
  height: 100%;
}

.slider input{
  visibility: hidden;
  display: none;
}

.slider-buttons{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 50px;
  gap: 10px;
}

.slider-buttons label{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
  transition: 300ms ease-in-out;
}

.slider-buttons label:hover{
  scale: 1.2;
  opacity: 1;
}

.slider input:nth-child(1):checked ~ .slider-buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .slider-buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .slider-buttons label:nth-child(3),
.slider input:nth-child(4):checked ~ .slider-buttons label:nth-child(4) {
  opacity: 1;
  scroll-margin: 1.2;
  width: 25px;
}

.testimonials-content{
  position: relative;
  width: 400vw;
  display: flex;  
  transition: 400ms ease-in-out;
  height: 100%;
}

.testimonials-text{
  color: white;
  max-width: 50%;
  text-align: justify;
  
}

.from-text{
  color: white;
  text-align: left;
  
}



.first-slide, .second-slide, .third-slide, .fourth-slide{
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}



.slider input:nth-child(1):checked ~.testimonials-content{
  left: 0;
}

.slider input:nth-child(2):checked ~.testimonials-content{
  left: -100vw;
}

.slider input:nth-child(3):checked ~.testimonials-content{
  left: -200vw;
}

.slider input:nth-child(4):checked ~.testimonials-content{
  left: -300vw;
}